* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'controls controls controls controls controls controls'
      'left left middle middle right right';
  } 
  
  .left,
  .middle,
  .right {
    padding: 10px;
    height: 40rem; 
    background-color: #f1f1f1;
    border: black solid 1px;
  } 

  .left {
    grid-area: left;
  }
 
  .middle {
    grid-area: middle;
  }
  
  .right {
    grid-area: right;
  }
  
  .controls {
    grid-area: controls;
    background-color: #e7bbbb;
    padding: 10px;
    text-align: center;
  }

  .list-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border-radius: 20px;
    word-wrap: break-word;
    width: 25rem;
    padding: 1rem;
    border: solid black 1px;
    -webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.5);
    display: grid;
    grid-template-areas: 'ul button';
    position: relative;
    cursor: grab;
    margin: 1rem;
  }

  ul {
    list-style-type: none;
  }

  button:hover {
    background-color: rgb(218, 54, 54);
  }

  button {
    cursor: pointer;
    background-color: rgb(244, 255, 236);
    border-radius: 5px;
    border: solid black 1px;
    padding: .3rem;
  }

  #deleteButton {
    cursor: pointer;
    width: 50%
  }

  #todo-section {
    width: 4rem;
  }

  /* Responsive layout*/
  @media (max-width: 1000px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header'
        'controls controls controls controls controls controls'
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right';
    }
  }