<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href"/style.css"/>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
        </nav>
        {{{body}}}
    </body>

</html>