:root{
  /*colors*/
  --red-color : #ff737d;
  --orange-color: #f7a000;
  --green-color: #74b81f;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* The grid container */
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 2fr 2fr 2fr;
  grid-template-areas: 
    'header ' 
    'controls'
    'left' 
    'middle' 
    'right';
  gap: 1rem;
} 


/*
.left,
.middle,
.right {
  padding: 10px;
  width: 39.4rem;
  height: 40rem; 
  background-color: #f1f1f1;
  border: black solid 1px;
} */

.header{
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h2{
  font-size: 3rem;
}

.controls {
  grid-area: controls;
  background-color: #e7bbbb;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  grid-area: left;
}

.left .list-item:hover{
  border: 2px solid var(--red-color);
}

.left h2{
  background: var(--red-color);
}

.middle {
  grid-area: middle;
  
}

.middle .list-item:hover{
  border: 2px solid var(--orange-color);
}

.list{
  background: #ebecf0;
  border: 2rem;
}

.list h2{
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: white;
  border-radius: .1rem;
}

.middle h2{
  background: var(--orange-color);
}

.right {
  grid-area: right;
}

.right h2{
 background: var(--green-color);
}

.right .list-item:hover{
  border: 2px solid var(--green-color);
}


.list-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  word-wrap: break-word;
  width: 80%;
  padding: 1rem;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  cursor: grab;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  
}

ul {
  list-style-type: none;
}

ul li{
 flex: 1;

}

button:hover {
  background-color: rgb(218, 54, 54);
}

button {
  flex: 1;
  cursor: pointer;
  background-color: rgb(244, 255, 236);
  border-radius: 5px;
  border: solid black 1px;
  padding: .3rem;

  justify-content: center;
  align-items: center;
}

#deleteButton {
  cursor: pointer;
  width: 50%
}

#deleteButton{
  position: relative;
  left: 3rem;
}

#deleteButton:hover{
 transform: scale(1.2);  
}


/* Responsive layout*/
@media screen and (min-width: 580px){
  .grid-container {
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)  ;
    grid-template-rows: 1fr 1fr 3.5fr ;
    grid-template-areas: 
      'header header header' 
      'controls controls controls'
      'left middle right'; 
    gap: 1rem;
    padding: 1rem;
  } 

  .list{
    background: rgb(235,236,240);
    border-radius: .1rem;
  }
}