:root{
  /*colors*/
  --red-color : #ff737d;
  --orange-color: #f7a000;
  --green-color: #74b81f;
  --blue-color: #2196F3;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}



/* The grid container */
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 2fr 2fr 2fr;
  grid-template-areas: 
    'header ' 
    'users'
    'left' 
    'middle' 
    'right';
  gap: 1rem;
  padding: 1rem;
} 



.left,
.middle,
.right {
  background-color: #f1f1f1;
}

.header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 2rem;

  
}

.header h2{
  font-size: 3.4rem;
}

.add-section{
  position: fixed;
  bottom: 3rem;
  right: 2rem;
}


.left {
  grid-area: left;
}

.left .list-item:hover{
  border: 2px solid var(--red-color);
}

.left h2{
  background: var(--red-color);
}

.middle {
  grid-area: middle;
  
}

.middle .list-item:hover{
  border: 2px solid var(--orange-color);
}

.list{
  background: #ebecf0;
  border: 2rem;
  overflow-y: scroll;
  min-height: 20vh;
  
}

.list h2{
  width: 100%;
  text-align: center;
  padding: .3rem;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.middle h2{
  background: var(--orange-color);
}

.right {
  grid-area: right;
}

.right h2{
 background: var(--green-color);
}

.right .list-item:hover{
  border: 2px solid var(--green-color);
}


.list-item {
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
  min-height: 4rem;
  word-wrap: break-word;
  width: 50%;
  padding: 1rem;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  cursor: grab;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.assign__task{
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: space-between;
  gap: 1rem;
  flex: 1;
  width: 100%;
}

.assign__task ul{
  flex: 1;
  list-style-type: none;
  padding: 0;
}

.assign__task img{
  flex: 1;
}

.list-item img{
  flex: 1;
}

ul li{
 flex: 1;

}

.assign-user{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
}


button, button:focus{
  outline: none;
  border: 0;
  cursor: pointer;
}


.save-btn{
  background: dodgerblue;
  padding: .9rem;
  border: 8px;
  color: white;
}

.save-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/*

.back-container{
  position: absolute;
  top: 0.5rem;
  right: 8.1rem;
 text-decoration: inherit;
}

#index-home{
  right: 3.5rem;
}*/


#deleteBoard-btn{
  background: red;
  padding: .9rem;
  border: 8px;
  color: white;
}




.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



#projectName, #projectDescription{
  outline: none;
}

#projectName::after, #projectDescription::after{
  content: ' ';
  outline: none;
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

#projectName:hover::after, #projectDescription:hover::after{
  width: 100%;
}

input[type=text]{
  outline: none;
  border: 0;
  padding: .8rem;
}



.users-bar{
  grid-area: users;
  display: flex;
  flex-direction: row;
  overflow-x:  auto;
  overflow-y: hidden;
  border: 2px solid #ebecf0;
  padding: 1rem;
  border-radius: 5px;
  gap: 1rem;
  min-height: 15vh;
}

.users-bar img{
  border-radius: 50%;
}


::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background: white;

}


::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

.displayList-item img{
  border-radius: 50%;
  cursor: pointer;

}

.users-column{
  display: flex;
  gap: 2rem;
}



.back-container{
  display: flex;
  justify-content: center;
  align-items: center;
 text-decoration: none;
}

/* Responsive layout*/
@media screen and (min-width: 580px){
  .grid-container {
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)  ;
    grid-template-rows: 1fr 1fr 1fr 5fr ;
    grid-template-areas: 
      'header header header' 
      'header header header'
      "users users users"
      'left middle right'; 
    gap: 1rem;
    padding: 1rem;
    
  }
  
  .list{
    background: rgb(235,236,240);
    border-radius: .1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow-y: scroll;
    
  }

  .list h2{
    padding: .5rem;

  }

  .list-item{
    width: 80%
  }

  /*
  #projectDescription{
    position: absolute;
    top: 6.5rem;
    left: 1.1rem;
  }
  */
  

  

  

  .save-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
}

@media screen and (min-width: 1440px){
  h1{
    font-size: 4rem;
  }

  #projectName{
    font-size: 5rem;
  }

  #projectDescription{
    padding-top: 1rem;
    font-size: 2rem;
  }

  .list h2{
    font-size: 2rem;
  }

  p{
    font-size: 1.5rem;
  }

  img{
    margin-top: 15px;
    transform:scale(1.2);
  }

  input[type=text]{
    font-size: 1.5rem;
  }

  .list-item{
    font-size: 1.5rem;
  }

  button{
    transform: scale(1.2);
    margin-left: 2rem;
    margin-right: 1rem;
  }

  aside{
    font-size: 1.2rem;
  }
}