:root{
  /*colors*/
  --red-color : #ff737d;
  --orange-color: #f7a000;
  --green-color: #74b81f;
  --blue-color: #2196F3;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* The grid container */
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 2fr 2fr 2fr;
  grid-template-areas: 
    'header ' 
    'controls'
    'left' 
    'middle' 
    'right';
  gap: 1rem;
} 



.left,
.middle,
.right {
  background-color: #f1f1f1;
}

.header{
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h2{
  font-size: 3.4rem;
}

.controls {
  grid-area: controls;
  background-color: #ebecf0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 8px;
}

.left {
  grid-area: left;
}

.left .list-item:hover{
  border: 2px solid var(--red-color);
}

.left h2{
  background: var(--red-color);
}

.middle {
  grid-area: middle;
  
}

.middle .list-item:hover{
  border: 2px solid var(--orange-color);
}

.list{
  background: #ebecf0;
  border: 2rem;
  
}

.list h2{
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.middle h2{
  background: var(--orange-color);
}

.right {
  grid-area: right;
}

.right h2{
 background: var(--green-color);
}

.right .list-item:hover{
  border: 2px solid var(--green-color);
}


.list-item {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  word-wrap: break-word;
  width: 80%;
  padding: 1rem;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  cursor: grab;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  
}

ul {
  list-style-type: none;
}

ul li{
 flex: 1;

}


button {
  flex: 1;
  cursor: pointer;
  background: var(--blue-color);
  border-radius: 5px;
  border: 0;
  color: white;
  padding: .7rem;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}

button:hover, button:focus{
  border: none;
  background-color: transparent;
  outline: .1rem solid #2196F3;
  color: #2196F3;
}

#save-btn{
  width: 8rem;
}

#back-container{
  position: absolute;
  top: 2rem;
  left: 3rem;
 text-decoration: inherit;
}


#back-container:hover{
   animation: bounce 1s;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

#deleteButton {
  cursor: pointer;
  width: 50%
}


#deleteButton{
  position: relative;
  left: 3rem;
}

#deleteButton:hover{
 transform: scale(1.2);  
}


.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pencil{
  position: relative;
  left: .3rem;
  top: .6em;
}

#projectName{
  outline: none;
}

#projectName::after{
  content: ' ';
  outline: none;
  width: 0px;
  height: 1px;
  display: block;
  background: -webkit-linear-gradient(left, var(--red-color) 20%, var(--orange-color) 20%, var(--green-color));
  transition: 300ms;
}

#projectName:hover::after{
  width: 100%;
}

input[type=text]{
  outline: none;
  border: 0;
  padding: .8rem;
}

.tooltiptext{
  visibility: hidden;
  border: 1px solid grey;
  color: #2196F3;
  border-radius: 8px;
  padding: 0.1rem;
}

#back-container:hover .tooltiptext{
  visibility: visible;
}


.users-bar{
  grid-area: users;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #9435a9;
  padding: 1rem;
  border-radius: 8px;
}


::-webkit-scrollbar {
  width: 10px;
  background: #ebecf0;
}

::-webkit-scrollbar-track {
  background: #9435a9;
  max-height: 3px;

}
 
::-webkit-scrollbar-thumb { 
  background: #555; 
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Responsive layout*/
@media screen and (min-width: 580px){
  .grid-container {
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)  ;
    grid-template-rows: 1fr 1fr  1fr 5fr ;
    grid-template-areas: 
      'header header controls' 
      'header header controls'
      "users users users"
      'left middle right'; 
    gap: 1rem;
    padding: 1rem;
  } 

  .list{
    background: rgb(235,236,240);
    border-radius: .1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

}